body{
    background-color: rgb(49, 128, 128);
    border-style: solid;
    border-color: rgb(128, 19, 19);
    border-right-width: 4px;
    border-bottom-width: 4px;
    margin-left: 270px;
    margin-right: 270px;
    padding: auto;
}
#outer{
    border: 1px solid magenta;
    margin: 2px;
    margin: 70px;
}
#top{
    text-align: center;
}
#para1::first-letter{
   color: black;
   font-size:300%;
   float: left;
}
#para1::first-line{
    text-transform: uppercase;
}
#num{
    text-align: center;
}
.content{
    text-indent : 30px;
}