body{
    margin-left: 40%;
    margin-top:50px;
}
.triangle_1{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid rgb(0, 255, 42);
}

.triangle_2{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid rgb(151, 138, 23);
}

.triangle_3{
    width: 0;
    height: 0px;
  border-left: 150px solid white;
  border-right: 150px solid white;
  border-bottom: 150px solid rgb(100, 20, 27);
}