*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 223, 226);
}
main{
    margin: 100px auto 0 auto;
    border: 1px solid rgb(134, 17, 89);
    width: 500px;
    text-align: center;
    background-color: rgb(124, 240, 124);
}
h1{
    text-decoration: underline;
    color: rgb(3, 12, 15);
}
img{
    height: 200px;
    border-radius: 50%;
}
#author{
    font-size: 18px;
    font-weight: 1000;
}
p{
    padding: 10px;
}
.btn{
    margin: 10px;
}
button{
    padding: 5px;
    background-color:rgb(102, 21, 75);
    border: none;
    border-radius: 10px;
}
section{
    border: 1px solid black;
    border-radius: 10px;
    margin: 100px 20px 0 20px;
    background-color: rgb(38, 18, 194);
}
a{
    text-decoration: none;
    color: black;
    margin-top: 200px;
}